.Contact {}

.Contact__Card {
    width: 300px;
    height: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px lightgrey solid;
    box-shadow: 0px 0px 20px grey;
    margin: 20px;
    border-radius: 10px;
    justify-content:space-evenly;
}
.Contact__Card__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-radius:50%;
}
.Contact__Card__img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.Contact__Card__content{
    font-size: 20px;
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact__Card__Social{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;


}
.Contact__Card__Social ul{
    list-style: none;
    display: flex;
    width: 100%;
    /* margin-left: -30px; */
    /* margin-top: -5px; */
    /* display: none; */
}
.Contact__Card__Social ul li a
{
    position: relative;
    /* display: block; */
    width: 30px;
    height: 30px;
    /* line-height: 30px; */
    /* text-align: center;	 */
    float: left;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    color: red;

    transition: 1s;
}
.Contact__Card__Social ul li a:hover{
    
    /* position: relative;
    display: block; */
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    margin: 0 5px;
    border-radius: 50%;
    transform: rotateZ(360deg);
    font-size: 20px;

}
/* .Contact__Img {
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.Contact__Img img {
    width: 100%;
    height: 100%;
}
.Contact__Card__content{
    margin-top: 20px;
}
.Contact__Card__icon{
    display: flex;
}
.Contact__Card ul{
    list-style: none;
    margin-left: -30px;
    margin-top: -5px;
}
.Contact__Card ul li a
{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;	
    float: left;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    color: red;
    transition: 1s;
}
.Contact__Card ul li a:hover{
		
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    margin: 0 5px;
    border-radius: 50%;
    transform: rotateZ(360deg);
    font-size: 20px;
   

}
.Contact__Card ul li a:hover .fa-facebook
{
    color: #3b5999;
}
.Contact__Card ul li a:hover .fa-phone
{
    color: #25D366;
}
.Contact__Card ul li a:hover .fa-envelope
{
    color: #dd4b39;
}
.Contact__Card ul li a:hover .fa-linkedin
{
    color: #0077B5;
} */